.vs/
*.user
*.suo
*.cache
*.pyc
*.pyo

**/bin/
**/obj/

releases/
_upstream_scrawler/

GUI-installer/build/
GUI-installer/dist/
GUI-installer/__pycache__/
GUI-installer/SCrawler-Plugin-Installer.spec
